.container > div {
  height: 10vh;
  border: none;
  text-align: center;
  border-radius: 15px;
}

.container {
  display: grid;
  grid-template-areas:
    "item1 item1 item2 item2"
    "item3 item4 item4 item4"
    "item5 item5 item5 item5";
  grid-gap: 1rem;
}

.container:nth-child(3) {
  grid-column: 1 / span 0.5;
}

.item1 {
  grid-area: item1;
  background-color: burlywood;
  padding-top: 30px;
}
.item2 {
  grid-area: item2;
  background-color: cadetblue;
  padding-top: 30px;
}
.item3 {
  grid-area: item3;
  background-color: darkcyan;
}
.item4 {
  grid-area: item4;
  background-color: darkkhaki;
}
.item5 {
  grid-area: item5;
  background-color: darkmagenta;
}

@media (max-width: 780px) {
  .container {
    display: grid;
    grid-template-areas:
      "item1 item1"
      "item2 item3"
      "item4 item4"
      "item5 item5";
    grid-gap: 1rem;
  }
}

@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5";
    grid-gap: 1rem;
  }
}
